# Growpad Configuration
GROWPAD_BACKEND_PATH=~/repos/2007-doorontwikkeling-growpad-be
GROWPAD_FRONTEND_PATH=~/repos/2007-doorontwikkeling-growpad-fe

# Database Configuration (VSCodium)
DB_HOST="127.0.0.1"
DB_USER="db_user"

# System User Configuration
USER_INITIAL_PASSWORD="change_me"
